<div class="notice">
  <i>Course: </i>
    <%= link_to course.title, course %>
    <%= link_to 'Remove Course', {:controller => "users", :action => "delete_course", :course_id => course},
      :confirm => "Are you sure?", 
      :method => :delete
      %>
</div>