<h3>Home</h3>
<%= button_to "My Courses", @user, :method => "get"%>
<% @courses.shuffle.each do |course| %>
  <p>Course: <%= link_to course.title, course %>  Description: <%= course.description %> </p> 
<% end %>
