  <tbody>
  	
	<td><%= link_to user.name, user%></td>	
	<td><%= link_to 'Remove User', {:controller => "majors", :action => "delete_user", :user_id => user}, {
	  :confirm => "Are you sure?", 
	  :method => :delete, class: 'btn btn-mini btn-danger'}
	  %> </td>
  </tbody>